

@page {
  size: A4;
  margin: 2rem 2rem 1rem 2rem;
}

.row1,
.row2,
.row3 {
  display: flex;
}

.row1 > .chart {
  flex: 1 0 auto;
  /* border: 1px solid red; */
  text-align: center;
  padding-bottom: 0.5rem;
}

main {
  font-family: sans-serif, serif, monospace;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}


.info_col .section {
  margin-bottom: 1rem;
}



table tr:nth-child(odd) {
  background-color: #f5f5f5;
}

table td {
  padding: 0.3rem;
  border-right: 0.1rem solid white;
  border-bottom: 0.1rem solid white;
  text-align: center;
}

table td:last-child {
  border-right: none;
}

table tr:last-child td {
  border-bottom: none;
}


svg {
  vertical-align: bottom;
}

.title {
  font-size: 0.5rem;
  font-weight: bold;
  color: #595959;
  padding: 0.3rem 0;
}


.section:last-child {
  margin-right: 0;
}

